@font-face {
    font-family: 'ubuntuitalic';
    src: font_url('ubuntu-ri-webfont.woff2') format('woff2'),
         font_url('ubuntu-ri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}